* {
  font-family: Roboto, Tahoma, sans-serif;
}

body {
  background: #111;
  color: #eee;
  box-sizing: border-box;
}

main {
  max-width: 60rem;
  background: rgb(34, 21, 34);

  padding: 1rem;
  margin: 1rem auto;

  border-radius: 0.5rem;

  box-sizing: border-box;
}

.drop-area {
  box-sizing: border-box;

  aspect-ratio: 16/9;
  width: 100%;

  border: 0.25rem dotted #eee;

  border-radius: 0.1rem;

  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.graph-area {
  display: none;
}

.graph {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;

  margin-bottom: 1rem;
}
